.entrada-blog{
    margin-bottom: 5rem;

    @include tablet{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }

    &::last-of-type{
        margin-bottom: 0;
    }


}

.texto-entrada{

    h4{
        margin: 0;
        line-height: 1.4;
        &:after{
            content: '';
            display: block;
            width: 15rem;
            height: .5rem;
            background-color: $verde;
            margin-top: 1rem;
        }
    }

    .entrada-enlace{
        margin-top: 2rem;
        text-decoration: none;
        background-color: $verde;
        display: block;
        color: $blanco;
        padding: 1rem 5rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 900;
        text-transform: uppercase;
        transition: background-color;
        transition-duration: .3s;

        @include tablet{
            display: inline;
        }
    }

    .entrada-enlace:hover{
        background-color: $verdeOscuro; 
    }


}